
/* Global */
body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
}

/* Obligatory */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Layout */
#container {
  width: 800px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 0 20px;
}

#content {
  width: 580px;
  float: left;
  margin-right: 20px;
}

#sidebar {
  width: 200px;
  float: left;
}

footer {
  clear: both;
  margin-top: 20px;
}

/* Typography */
h1 {
  font-size: 62px;
}

article h1, h2 {
  font-size: 30px;
}

article p {
  font-size: 16px;
  line-height: 24px;
}

article a {
  color: #FF450C;
}

/* Header */
header h1 {
  margin: 0;
  letter-spacing: -5px;
}
  
  header h1 a {
    text-decoration: none;
    color: #222;
  }
  
  header .rss {
    display: block;
    float: right;
  }

/* Navigation */
nav {
  height: 20px;
  border-top: 5px solid #222;
  border-bottom: 5px solid #222;
  padding: 5px 15px;
}
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
    
    nav li {
      float: left;
      padding-right: 20px;
    }
      
      nav li a {
        font-size: 16px;
        color: #222;
      }

/* Footer */
footer {
  margin-top: 30px;
  border-top: 1px solid #CCC;
  padding: 15px 0;
  text-align: center;
  color: #555;
  font-size: 10px;
}

/* Content */
div#content {
  font-size: 12px;
}

  article {
    margin: 15px 0 40px 0;
  }
  
    article h1 a {
      color: #222;
      text-decoration: none;
    }

    article h1 a:hover {
      color: #FF450C;
      text-decoration: underline;
    }
    
    article div.meta {
      font-size: 12px;
      color: #999;
    }
  
  code {
    font-size: 14px;
  }

/* Sidebar */

div#sidebar ul {
  margin: 0;
  padding: 0 0 0 20px;
}

div#sidebar ul li {
  padding: 0 0 5px 0;
}

div#sidebar ul li a {
  color: #222;
}

div#sidebar ul li a:visited {
  color: #FF450C;
}

div#twitter {
  background-color: #EEE;
  font-size: 12px;
  color: #222;
  margin-top: 20px;
  padding-top: 5px;
}

  div#twitter h3 {
    margin: 10px;
  }

  div#twitter ul {
    padding: 0 10px;
  }

    div#twitter ul li {
      border-bottom: 1px solid #CCC;
      padding: 10px 0;
    }

/* Disqus */
div#disqus_thread {
  padding: 0 20px 20px 20px;
  border: 5px solid #EEE;
}

/* Syntax Highlighter Hax */
.syntaxhighlighter {
  padding: 10px 0px !important;
}

.syntaxhighlighter div.line {
  font-size: 14px !important;
}
